<h1 class="title">Reserva Fácil</h1><br>
<form>
    <div class="form-group">
        <h3>1- Efetuar o cadastro de Hospedes</h3>
        <a ui-sref="hospede.list" class="btn btn-info" type="button">Cadastrar de Hospede</a>
    </div>
    <div class="form-group">
        <h3>2- Efetuar o cadastro de Hotel</h3>
        <a ui-sref="hotel.list" class="btn btn-primary" type="button">Cadastrar de Hotel</a>
    </div>
    <div class="form-group">
        <h3>Efetuar Reserva</h3>
        <a ui-sref="reserva.list" class="btn btn-success" type="button">Efetuar Reserva</a>
    </div>
</form>
<ui-view></ui-view>

<footer>
<p class="footer">&copy; <b>João Manoel Aureliano | 2018</b></p>
</footer>